.App {
    text-align: center;
    height: 100%;
}

.App-logo {
    background: linear-gradient(to bottom, #4545f1, rgba(0, 0, 255, 0.15));
    height: 150px;
    padding: 20px;
    color: white;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.App-childRoutes {
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.15), rgba(0, 0, 255, 0.15));
}
