.Product-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Product-items{
    display: flex;
    width: 300px;
    align-items: center;
    border: 1px solid rgba(128, 128 128, 0.3);
    justify-content: space-around;
}